body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#page {
    width: 960px;
    background-color: cadetblue;
    border: 1px solid black;
    height: 660px;
    margin: 0 auto;

}
#header {
    background-color: bisque;
    height: 80px;
}
#logo, #middle, #right {
    border: 1px solid grey;
    width: 318px;
    padding: 30px 0;
    text-align: center;
    float: left;
}
#right {
    width: 320px;
}
#menu {
    height: 25px;
    background-color: #344E5C;
    text-align: center;
    color: bisque;
    overflow:hidden;
}
#content_left, #content_right {
    border: 2px solid #344E5C;
    width: 300px;
    text-align: center;
    float: left;
    height: 160px;
    padding: 40px;
    margin-left: 70px;
    margin-top: 70px;
    overflow:hidden;
}
#content_right {
    margin-left: 57px;
}
#footer {
    height: 25px;
    background-color: #344E5C;
    text-align: center;
    color: bisque;
    overflow:hidden;
    margin-top: 530px;
}